* {
	margin: 0;
}
html {
	box-sizing: border-box;
	background-color: #181818;
	color: #fff;
}
body {
	overflow-x: hidden;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
